/* li {
  list-style: none;
} */
.flex {
  display: flex;
  align-items: center;
}
.item {
  width: 30px;
  height: 30px;
}
ul, p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
ul {
  margin-bottom: 10px;
}
ul li {
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  color: #666;
}
.label {
  width: 100px;
}
.orange {
  color: rgb(255, 94, 0);
}
.grey {
  margin-left: 15px;
  color: rgba(128, 128, 128, 0.902);
}
.blue {
  color: rgb(1, 102, 253);
}
.radius {
  border: 1px solid rgb(255, 94, 0);
  border-radius: 50%;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-center {
  font-weight: 500;
  text-align: center;
  color: rgb(125, 205, 218);
  font-size: 14px;
}
.flex-justify {
  display: flex;
  justify-content: center;
}
.font-item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-left: 0;
}
.border-red {
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
}
.orther {
  margin-top: 10px;
  color: rgb(137, 142, 212)
}

.cuboid {
  margin: 300px 500px;
  position: absolute;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) rotateY(10deg);
}
.cuboid div {
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: .8;
  transition: .4s;
}
.cuboid .front {
  transform: rotateY(0deg) translateZ(200px);
  background: #a3daff;
}
.cuboid .back {
  transform: translateZ(-200px) rotateY(180deg);
  background: #a3daff;
}
.cuboid .left {
  transform: rotateY(-90deg) translateZ(200px);
  background: #1ec0ff;
}
.cuboid .right {
  transform: rotateY(90deg) translateZ(200px);
  background: #1ec0ff;
}
.cuboid .top {
  transform: rotateX(90deg) translateZ(200px);
  background: #0080ff;
}
.cuboid .bottom {
  transform: rotateX(-90deg) translateZ(200px);
  background: #0080ff;
}
main {
  position: relative;
}
.cuboid-item {
  position: absolute;
  left: 0;
  top: 350px;
}
.cuboid-item1 {
  position: absolute;
  left: 0;
  top: 301px;
}
.cuboid-item2 {
  position: absolute;
  left: 0;
  top: 251px;
}
.cuboid-item3 {
  position: absolute;
  left: 0;
  top: 201px;
}
.cuboid-item4 {
  position: absolute;
  left: 0;
  top: 151px;
}
.cuboid-1 {
  height: 50px;
}
.cuboid-1 div {
  height: 50px;
}
.cuboid-1 .top {
  height: 400px;
  transform: rotateX(90deg) translateZ(200px);
}
.cuboid-1 .bottom {
  height: 400px;
  transform: rotateX(-90deg) translateZ(-150px);
}
.orange-font {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 94, 0);
  font-weight: 500;
}
.out {
  margin: 300px 970px;
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.empty {
  color: #999;
}
.mb2 {
  margin-bottom: 5px;
}