@font-face {
  font-family: 'iconfont';  /* Project id 1906942 */
  src: url('//at.alicdn.com/t/font_1906942_ivyzbvmfzdc.woff2?t=1627906954740') format('woff2'),
       url('//at.alicdn.com/t/font_1906942_ivyzbvmfzdc.woff?t=1627906954740') format('woff'),
       url('//at.alicdn.com/t/font_1906942_ivyzbvmfzdc.ttf?t=1627906954740') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.flex1 {
  flex: 1;
  text-align: center;
}
.flex2 {
  flex: 1.5;
  text-align: center;
}
.ml20 {
  margin-left: 20px;
}
.mr20 {
  margin-right: 20px;
}
.iconfont {
  font-size: 20px;
  color: #555;
}
.border-right {
  border-right: 1px solid #aaa;
}
.item {
  width: 30px;
  height: 30px;
}
ul, p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
ul {
  margin-bottom: 10px;
}
ul li {
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  color: #666;
}
.label {
  width: 100px;
}
.orange {
  color: rgb(255, 94, 0);
}
.grey {
  margin-left: 30px;
  color: rgba(128, 128, 128, 0.902);
}
.blue {
  color: rgb(1, 102, 253);
}
.radius {
  border: 1px solid rgb(255, 94, 0);
  border-radius: 50%;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-center {
  font-weight: 500;
  text-align: center;
  color: rgb(125, 205, 218);
  font-size: 14px;
}
.flex-justify {
  display: flex;
  justify-content: center;
}
.font-item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-left: 0;
}
.border-red {
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
}
.orther {
  margin-top: 10px;
  color: rgb(137, 142, 212)
}
.orange-font {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 94, 0);
  font-weight: 500;
}
.empty {
  color: #999;
}
.box {
  width: 220px;
  height: 40px;
  border: 1px solid #aaa;
}