li {
  list-style: none;
}
.flex {
  display: flex;
  align-items: center;
}
.item {
  width: 30px;
  height: 30px;
}
ul, p {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
ul {
  margin-bottom: 10px;
}
ul li {
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
  color: #666;
}
.label {
  width: 100px;
}
.orange {
  color: rgb(255, 94, 0);
}
.grey {
  margin-left: 15px;
  color: rgba(128, 128, 128, 0.902);
}
.blue {
  color: rgb(1, 102, 253);
}
.radius {
  border: 1px solid rgb(255, 94, 0);
  border-radius: 50%;
}
.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-center {
  font-weight: 500;
  text-align: center;
  color: rgb(125, 205, 218);
  font-size: 14px;
}
.flex-justify {
  display: flex;
  justify-content: center;
}
.font-item {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  margin-left: 0;
}
.border-red {
  border: 1px solid red;
  padding: 10px 10px 10px 10px;
}
.orther {
  margin-top: 10px;
  color: rgb(137, 142, 212)
}